/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Formulier styling */
form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    font-size: 18px;
    margin-right: 10px;
}

form input[type="number"] {
    padding: 5px;
    font-size: 16px;
}

form button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Knop voor het wisselen tussen slideshow en Kingdoms and Castles */
#toggleButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 20px;
    font-size: 16px;
}

#toggleButton:hover {
    background-color: #0056b3;
}

/* Slideshow en games */
.game {
    display: none;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.game img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Kingdoms and Castles */
#kingdomsAndCastles {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#kingdomsAndCastles img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Algemene tekst styling */
h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
}
